<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- No need to include the Bootstrap CSS since we're not using it for layout -->
  <style>
    body {
      background-color: antiquewhite;
    }

    .center {
      text-align: center;
    }

    .center button {
      padding: 10px 20px;
      border-width: 0px;
      border-style: hidden;
      background-color: rgb(1, 115, 244);
      color: white;
      font-size: medium;
      text-align: center;
      margin: 0 auto; 
    }
  </style>
</head>
<body>
  <br/>
 
  <%- message %>
  
</body>
</html>
