<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- No need to include the Bootstrap CSS since we're not using it for layout -->
  <title>Anza Ma</title>
  <style>
    body {
        max-width: 900px;
        background-color: antiquewhite;
        background-color: #f8f9fa;
    }
    .center {
      text-align: center;
    }
    .center button {
      padding: 10px 20px;
      border-width: 0px;
      border-style: hidden;
      background-color: rgb(1, 115, 244);
      color: white;
      font-size: medium;
      text-align: center;
      margin: 0 auto; /* This will center the button horizontally */
    }
      .email-content {
          max-width: 800px;
      }
      .header {
          background-color: #ffffff;
          padding: 10px;
          text-align: center;
      }
      .product-grid {
          background-color: #ffffff;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }
      .product-card {
          width: calc(50% - 20px);
          margin-bottom: 20px;
      }
      .footer {
          background-color: #ffffff;
          padding: 10px;
          text-align: center;
      }
  </style>
</head>
<body>
  <div class="email-content">
    <div class="header">
        <div class="row ">
            <img src="https://testingwebprojects.com/images/home/Shule-Yetu-%E2%80%93-52.png" alt="..." width="70px" height="30px">
            <h2>Anza Management System</h2>
        </div>
    </div>
    <hr style="margin-left: 10%;margin-right: 10%;">
    <!-- <div class="product-grid"> -->
        <div class="row">
            <p style="padding-left:10%;padding-right:10%;">
              <h1 style="color: black;padding-bottom: 0px;margin-bottom: 0px;" class="center">Password reset</h1>
              <p class="center" style="padding-top: 2px;color: black;">Hi! <%= name %> Click the button below to reset your password</p>
              <br/>
              <div class="center">
                <a href="https://anzamanagementsystem.vercel.app/resetPassword/<%= link %>"><button class="btn btn-sm" style="background-color: #002D62;font-size: 12px;">Reset password</button></a> 
              </div>
            </p>
        </div>
        <div class="row">
            <p style="padding-left:10%;padding-right:10%;">
                Best regards,<br>
                Anza Management System
            </p>
        </div>
    <!-- </div> -->
    <hr style="margin-left: 10%;margin-right: 10%;">
    <div class="footer">
        <p>Thank you for shopping with us!</p>
    </div>
  </div>
</body>
</html>
